{% extends 'base.html' %}
{% load widget_tweaks %}





{% block body %}
	<form action="/accounts/login/?next{{request.path}}" method="POST">
  		{% csrf_token %}
		{% for field in form %}
    		<div class="fieldWrapper">
        		{{ field.errors }}
        		{{ field.label_tag }} {{ field }}
        		{% if field.help_text %}
        		<p class="help">{{ field.help_text|safe }}</p>
        		{% endif %}
    		</div>
		{% endfor %}
		<input type="submit" name="">
	</form>
{% endblock %}