{% load i18n %}
{% blocktrans %}
Hello {{ user }}

You're receiving this e-mail because you or someone else has requested a password for your user account.
It can be safely ignored if you did not request a password reset.
Click the link below to reset your password.
{% endblocktrans %}

{{domain}}/user/password/reset/?uid={{ uid }}&token={{ token }}

{% blocktrans %}In case you forgot, your username is {{ email }}.{% endblocktrans %}

{% blocktrans %}
Thank you for using {{ site_name }}!
{% endblocktrans %}

Soleo Together Team


